<%- include ('../partials/_header') %>
<div class="container" style="margin-bottom: 4em">
	<p class="flow-text d-flex-fit orange-text text-darken-2">
		<span class="blue-text capital-text"><%= survey.title %></span>
		<i class="material-icons grey-text">keyboard_arrow_right</i> Edit Question
	</p>
	<form action="/survey/edit/<%= survey._id %>/<%= surveyItem._id  %>?_method=PUT" method="POST">
		<div class="row">
			<div class="col s12 m8">
				<div class="input-field col s12">
					<i class="material-icons prefix">create</i>
					<input
						name="QText"
						required
						id="icon_prefix"
						type="text"
						class="question-text validate"
						value="<%= surveyItem.QText %>"
					/>
					<label for="icon_prefix">Question Text</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m8">
				<div class="input-field col s12 tooltipped" data-position="right" data-tooltip="You can't change the Question Type instead disable this question" style="cursor: pointer;">
					<select name="QType" required onchange="demoOpen(this.value)" disabled>
						<option value="" disabled selected>Choose your option</option>
						<optgroup label="Multiple Choice">
							<option value="singleSelect">Select One</option>
							<option value="multipleSelect">Select Many</option>
							<!-- <option value="dropdown">Drop-down Menu</option> -->
							<option value="yesNo">Yes / No</option>
						</optgroup>
						<optgroup label="Graphical Rating">
							<option value="starRating">Star Rating</option>
							<option value="smileyRating">Smiley Rating</option>
							<option value="thumbUpDown">Thumbs Up / Down</option>
							<option value="slider">Slider</option>
						</optgroup>
						<optgroup label="Others">
							<option value="comment">Comment Box</option>
						</optgroup>
					</select>
					<label>Question Type Select</label>
				</div>
			</div>
		</div>
		<!-- Demo -->
		<div class="row">
			<div class="col s12 demo"></div>
		</div>
		<!-- Demo Ends-->
		<% if(surveyItem.QType === 'singleSelect' || surveyItem.QType === 'multipleSelect') { %> <% } %>

		<div class="row option-create" style="display: none">
			<div class="col s12 m12">
				<h6 class="col s12" style="margin-bottom: 1em">Edit Options for Multiple Choice</h6>
				<div class="input-field col s12 m6">
					<input type="text" class="validate" name="option__1" />
					<label for="option1">Option1</label>
				</div>
				<div class="input-field col s12 m6">
					<input type="text" class="validate" name="option__2" />
					<label for="option2">Option2</label>
				</div>
				<div class="input-field col s12 m6">
					<input type="text" class="validate" name="option__3" />
					<label for="option3">Option3</label>
				</div>
				<div class="input-field col s12 m6">
					<input type="text" class="validate" name="option__4" />
					<label for="option4">Option4</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<button class="btn waves-effect waves-light" type="submit">
					Submit
					<i class="material-icons right">edit</i>
				</button>
			</div>
		</div>
	</form>
	<hr>
	<div class="row">
		<div class="col s12">
			<form action="/survey/edit/<%= survey._id %>/<%= surveyItem._id  %>/disable?_method=PUT" method="post">
				<button class="btn waves-effect waves-light <%= surveyItem.disabled ? "green" : "red" %>" type="submit" style="margin: 15px 0 0 0">
					<%= surveyItem.disabled ? "Enable" : "Disable" %> Question
					<i class="material-icons right"><%= surveyItem.disabled ? "lock_open" : "lock" %></i>
				</button>
			</form>
		</div>
	</div>
</div>
<%- include ('../partials/_script') %>
<script src="/js/demo.js"></script>
<script>
	M.AutoInit();
	const demo = document.querySelector('.demo');
	const optionCreate = document.querySelector('.option-create');
	const questionText = document.querySelector('.question-text');
	const demoOpen = (type) => {
		if (type === 'singleSelect' || type === 'multipleSelect') {
			optionCreate.style.display = 'block';
		} else {
			optionCreate.style.display = 'none';
		}
		demo.innerHTML = `
        <div class="container z-depth-1" style="padding: 10px 1.5em; position: relative; margin: 0;">
            <h4 class="purple-text"> Demo Question </h4>
            <p class="flow-text">${questionText.value}</p>
            ${demos[type]}            
        </div>
        `;
		if (
			'<%=surveyItem.QType%>' === 'singleSelect' ||
			'<%=surveyItem.QType%>' === 'multipleSelect'
		) {
			document.querySelectorAll('.option-create input').forEach((node, index) => {
				switch (index) {
					case 0:
						node.value = '<%=surveyItem.options[0]%>';
						break;
					case 1:
						node.value = '<%=surveyItem.options[1]%>';
						break;
					case 2:
						node.value = '<%=surveyItem.options[2]%>';
						break;
					case 3:
						node.value = '<%=surveyItem.options[3]%>';
						break;
					default:
						break;
				}
			});
			M.updateTextFields();
		}
	};
	window.onload = function () {
		demoOpen('<%=surveyItem.QType%>');
	};
	document.addEventListener('DOMContentLoaded', function () {
		document.querySelectorAll('select option').forEach(function (option) {
			option.removeAttribute('selected');
			if (option.value === '<%=surveyItem.QType%>') option.setAttribute('selected', 'true');
		});
		var elem = document.querySelector('select');
		M.FormSelect.init(elem);
	});
</script>
<%- include ('../partials/_footer') %>
<!-- Remove Commit history -->
